<div class="extra-full-div">
    <div class="last-hit-card-div">
        <game-card class="card hidden"></game-card>
    </div>
    <div class="full-div green-shadow">
        <div class="left-side">
            <div class="img-container">
                <img src="images/cards.gif" class="hidden">
            </div>
            <p class="hits"></p>
        </div>
        <div class="right-side">
            <p class="name-p"></p>
            <p class="point-p"></p>
        </div>
    </div> 
</div>


<style>

    .extra-full-div {
        display: flex;
        flex-direction: row;
    }

    .green-shadow {
        box-shadow: 0px 0px 2px 2px rgb(4, 105, 4);
    }

    .full-div {
        border-radius: 5px;
        background: #0eea0782;
        width: 200px;
        height: 70px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
    }

    .last-hit-card-div {
        width: 52px;
        position: relative;
        bottom: 15px;
    }

    .left-side {
        width: 50px;
        border-right: 2px solid #004c02;
        border-radius: 5px 0px 0px 5px;
    }

    .img-container {
        height: 38px;
        margin-top: 3px;
    }

    img {
        height: 23px;
        margin: 5px 15px;
    }

    .hidden {
        display: none;
    }

    .left-side .selected {
        background-color: #ffbc00;
    }

    .right-side {
        display: flex;
        flex-direction: column;
    }

    .name-p {
        margin: 6px 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .point-p {
        font-size: 18px;
        margin: auto 10px auto 10px;
    }

    .hits {
        font-size: 19px;
        text-align: center;
        font-weight: bold;
        margin: auto;
    }

    .underlined {
        text-decoration: underline;
    }


</style>